@media (prefers-color-scheme: dark) {
    body {
        --color-canvas-default: #0d1117;
        background-color: var(--color-canvas-default);
    }
}

@media (prefers-color-scheme: light) {
    body {
        --color-canvas-default: #ffffff;
        background-color: var(--color-canvas-default);
    }
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

.markdown-body .bar-chart-container svg .axis .domain
{
    stroke: none;
}

.markdown-body .bar-chart-container svg .x line
{
    stroke-width: 2px;
    stroke: var(--color-canvas-default);
}
